<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title></title>
     <meta name="description" content="" />
     <meta name="author" content="Lyman Johnson" />
     <meta name="HandheldFriendly" content="true" />
     <meta name="MobileOptimized" content="320" />
     <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>

     <h1>Recipes</h1>

     <p>
       <a href="/new/">Add new box</a>
     </p>

     {{#boxes}}
       <div class="box">
       <h2>
         <a href="/{{_id}}">
           {{name}}
         </a>
       </h2>
       <dl>
       {{#material}}
       <dt>
         Material
       </dt>
       <dd>
         {{.}}
       </dd>
       {{/material}}
       {{#quality}}
       <dt>
         quality
       </dt>
       <dd>
         {{.}}
       </dd>
       {{/quality}}
       {{#descriptors}}
       <dt>
         Descriptors
       </dt>
       <dd>
         {{.}}
       </dd>
       {{/descriptors}}
       {{#contents}}
       <dt>
         Contents
       </dt>
       <dd>
         {{.}}
       </dd>
       {{/contents}}
       </dl>
       </div>
     {{/boxes}}



   <script type="text/javascript" src="main.js"></script>
   </body>
 </html>
