<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="" />
  <meta name="author" content="Lyman Johnson" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

  <h1>Recipes</h1>

  <p>
    <a href="/new/">Add new box</a>
  </p>
  {{#box}}
    <a href="/item/{{_id}}"><h2>{{name}}</h2></a>
    <h3>Materials:</h3>
    {{#materials}}
      <p>{{.}}</p>
    {{/materials}}
    <h3>Quality</h3>
    <p>{{quality}}</p>
    <h3>Descriptors</h3>
    {{#descriptors}}
      <p>{{.}}</p>
    {{/descriptors}}
    <h3>Contents:</h3>
    <p>{{contents}}</p>
    {{#contents}}
      <p>{{.}}</p>
    {{/contents}}

  {{/box}}



  <script type="text/javascript" src="main.js"></script>
</body>

</html>
