<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="" />
  <meta name="author" content="Lyman Johnson" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

  <form action="/new" method="post">
    <span>Give Your Box a Unique, Descriptive Name:<input type="text" name="name" required autofocus></span>
    <br>
    <span>Box's Construction Materials:<input type="text" name="material" required></span>
    <br>
    <ul>Box's Construction Quality:
      <li><input type="radio" name="quality" value="shabby">Shabby</input>
      </li>
      <li><input type="radio" name="quality" value="Competent">Competent</input>
      </li>
      <li><input type="radio" name="quality" value="High Quality">High Quality</input>
      </li>
      <li><input type="radio" name="quality" value="Masterwork">Masterwork</input>
      </li>
    </ul>
    <span>Description:<input type="text" name="descriptors" required></input></span>
    <br>
    <span>Box's Contents:<input type="text" name="contentsItem"> Qt.:<input type="number" name="contentsNumber"></input></span>
    <br>
    <button action="/new" type="submit">Add Box to Collection</button>
  </form>

</body>

</html>
